@media only screen and (max-width: 768px) {
    .mobile {
        background-color: #f5f5f5;
        background-image: none;
        color: #191919;
        /* font-size: calc(112.5% + 0.5vw); */
        font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400)));
        width: 100vw;
        height: 100vh;
    }
}

html,
body {
    background-color: #f5f5f5;
    background-color: hsl(0, 0%, 96%);
    color: #191919;
    color: rgba(25, 25, 25, 0.8);
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    text-rendering: optimizeLegibility;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a,
a:active,
a:visited {
    color: #8e8e8e;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #505050;
    font-weight: inherit;
    text-decoration: none;
}

.icon {
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
}

ul,
li {
    color: #191919;
    color: rgba(25, 25, 25, 0.8);
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.ul-icon,
.li-icon {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

ul,
.ul-icon {
    margin: 0 1em;
}

li {
    margin: 1em;
    margin-left: 1.25em;
}

.li-icon {
    margin: 1em;
    margin-left: -1.25em;
}

li::before {
    color: #cecece;
    content: '\01F70F';
    font-size: 28px;
    margin-left: -2em;
    margin-right: 0.25em;
}

.li-icon::before {
    content: none;
    /* display: list-item; */
    font-size: normal;
    margin-left: -2em;
    margin-right: 0.25em;
    vertical-align: middle;
}

.copyright {
    color: #cecece;
    font: caption;
    text-align: right;
}